@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700&display=swap');

*{
	padding: 0px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

/*loading*/
.loding{
	background: #222;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	z-index: 9;
	display: flex;
	align-items: center;
	justify-content: center;
}

.spin{
	width: 300px;
	height: 300px;
	animation: spin 1.5s infinite;

}

@keyframes spin{
	0%{	
		width: 100px;
		height: 100px;
		rotate: 0deg;
		border-radius: 50%;
		border-top: 5px solid red;
  		border-right: 5px solid green;
  		border-bottom: 5px solid yellow;
  		border-left: 5px solid blue;
	}

  	25%{
  		width: 150px;
		height: 150px;
  		rotate: 75deg;
  		border-radius: 50%;
  		border-left: 5px solid red;
  		border-top: 5px solid green;
  		border-right: 5px solid yellow;
  		border-bottom: 5px solid blue;
  	}

  	50%{
  		width: 150px;
		height: 150px;
  		rotate: 150deg;
  		border-radius: 50%;
  		border-bottom: 5px solid red;
  		border-left: 5px solid green;
  		border-top: 5px solid yellow;
  		border-right: 5px solid blue;
  	}

  	75% {
  		width: 150px;
		height: 150px;
  		rotate: 225deg;
  		border-radius: 50%;
  		border-right: 5px solid red;
  		border-bottom: 5px solid green;
  		border-left: 5px solid yellow;
  		border-top: 5px solid blue;
  	}

  	100% {
  		width: 100px;
		height: 100px;
  		rotate: 360deg;
  		border-radius: 50%;
  		border-top: 5px solid red;
  		border-right: 5px solid green;
  		border-bottom: 5px solid yellow;
  		border-left: 5px solid blue;
  	}
}


/*utilitis*/

.clear-link{
	text-decoration-line: none;
}

.but{
	border: 2px solid #569dff;
	border-radius: 10px;
	padding: 10px 30px;
	margin: 0px 10px;
	color: #00cdff;
}

.but:hover{
	transition: 0.5s;
	background: #b4d2ffa6;
	color: #d1f6ff;
}

.text-white{
	color: #fff;
}

.center-text{
	text-align: center;
}

.sec-full{
	width: 100%;
}

.sec-scall{
	box-shadow: 0px 1px 10px 0.2rem rgba(0, 71, 78, 0.25);
	width: 80%;
	margin: 0px auto;
}

.title{
	font-weight: 200;
	margin: 35px auto 20px;
}

/*end utilitis*/

footer{
	display: block;
	height: 50px;
	background: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0%, rgb(0, 0, 0, 0.9) 100%);
	line-height: 49px;
}

@media (min-width: 988px){

	.f-bold{
		font-weight: 200;
	}

	/*All devace*/

	nav{
		background: linear-gradient(to left, rgb(0, 72, 79) 0%, rgb(0, 27, 39) 100%);
		position: fixed;
		height: 60px;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
	}

	.menu{
		display: flex;
		justify-content: center;
		line-height: 60px;
		margin: auto 30px;
	}

	.nav-item{
		color: #fff;
		margin: auto 5px;
		padding: 0px 10px;
	}

	.nav-item:hover{
		transition: 0.5s;
		color: #00cdff;
	}

	.active{
		transition: 1s;
		color: #00cdff;
	}

	.home{
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgb(0, 0, 0, 0.9) 100%), url(../img/sampul.jpg) no-repeat center;
		background-size: cover;
		margin: 60px auto 0px;
		padding: 30px;
	}

	.profil{
		width: 200px;
		height: 200px;
		border-radius: 50%;
		display: block;
		margin: auto;
		padding: 30px;
	}

	h1{
		color: #fff;
		font-size: 3em;
		text-align: center;
	}

	.icon{
		display: block;
		margin: 50px auto 20px;
	}

	.go-content{
		display: flex;
		justify-content: center;
	}

	.content{
		display: flex;
		justify-content: center;
	}

	main{
		background: #e5e5e5;
	}

	#profil{
		box-shadow: 0px 1px 10px 0.2rem rgba(0, 71, 78, 0.25);
		overflow: hidden;
	}

	.s-profil{
		position: relative;
		/*left: -90px;*/
		/*visibility: hidden;*/
		padding: 30px;
		margin-left: 60px;
		width: 50%;
	}

	.s-info{
		position: relative;
		/*right: -90px;*/
		/*visibility: hidden;*/
		padding: 30px;
		width: 50%;
		text-align: left;
	}

	th, td{
		padding: 10px;
	}

	#skill{
		margin-top: 20vh;
	}

	.s-skill{
		padding: 30px;
		width: 50%;
	}

	.nub{
		font-size: 12px;
		color: #0064b4;
	}

	progress{
		width: 100%;
		height: 10px;
		border-radius: 5px;
		overflow: hidden;
		margin: 10px auto 10px;
		text-align: center;
	}

	.s-picture{
		background: url(../img/skill.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		border: none;
		width: 50%;
	}

	#education{
		margin-top: 20vh;
	}

	.s-education{
		padding: 30px;
	}

	.icon-edu{
		background: #4a4949;
		border-radius: 50%;
		height: 100px;
	}

	.edu{
		line-height: 100px;
	}

	.s-cap{
		padding: 30px;
		width: 90%;
	}

	.edu-cont{
		transition: all 0.5s;
	}

	.edu-cont:hover{
		background: #4a4949;
		color: #fff;
	}

	#contect{
		background: #4a4949;
		margin-top: 20vh;
		padding: 30px;
	}

	.d-verison{
		display: flex;
		justify-content: center;
	}

	.a-aside{
		margin-right: 50px;

	}

	.a-picture{
		width: 100px;
		border-radius: 50%;
	}

	.b-aside{
		width: 70%;
		margin-top: 110px;
	}
}

@media (min-width: 360px) and (max-width: 988px){

	/*utilitis*/

	.title{
		font-weight: 200;
		margin: 35px auto 20px;
		text-align: center;
	}

	/*endutilitis*/

	nav{
		background: linear-gradient(to left, rgb(0, 72, 79) 0%, rgb(0, 27, 39) 100%);
		position: fixed;
		height: 60px;
		top: 0;
		right: 0;
		left: 0;
		z-index: 1;
	}

	.menu{
		display: flex;
		justify-content: center;
		line-height: 60px;
		margin: auto 30px;
	}

	.nav-item{
		color: #fff;
		margin: auto 5px;
		padding: 0px 10px;
	}

	.nav-item:hover{
		transition: 0.5s;
		color: #00cdff;
	}

	.active{
		transition: 1s;
		color: #00cdff;
	}

	.home{
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgb(0, 0, 0, 0.9) 100%), url(../img/sampul.jpg) no-repeat center;
		background-size: cover;
		margin: 60px auto 0px;
		padding: 30px;
	}

	.profil{
		width: 150px;
		height: 150px;
		border-radius: 50%;
		display: block;
		margin: auto;
		padding: 30px;
	}

	h1{
		color: #fff;
		font-size: 2em;
		text-align: center;
	}

	.icon{
		display: block;
		margin: 50px auto 20px;
	}

	.go-content{
		display: flex;
		justify-content: center;
	}

	.content{
		display: block;
		
	}

	main{
		background: #e5e5e5;
	}

	#profil{
		box-shadow: 0px 1px 10px 0.2rem rgba(0, 71, 78, 0.25);
	}

	.s-profil{
		position: relative;
		/*left: -90px;*/
		/*visibility: hidden;*/
		padding: 30px;
	}

	.s-info{
		position: relative;
		/*right: -90px;*/
		/*visibility: hidden;*/
		padding-bottom: 30px;
		text-align: left;
	}

	table{
		margin: 0px auto;
	}

	th, td{
		padding: 5px;
	}

	#skill{
		margin-top: 20vh;
	}

	.s-skill{
		padding: 30px;
		/*width: 50%;*/
	}

	.nub{
		font-size: 12px;
		color: #0064b4;
	}

	progress{
		width: 100%;
		height: 10px;
		border-radius: 5px;
		overflow: hidden;
		margin: 10px auto 10px;
		text-align: center;
	}

	#education{
		margin-top: 20vh;
	}

	.s-education{
		margin: 0px auto;
		padding: 30px;
		width: max-content;
	}

	.icon-edu{
		background: #4a4949;
		border-radius: 50%;
	}

	.edu{
		line-height: 100px;
	}

	.s-cap{
		padding: 30px;
		margin-top: -80px;
	}

	.edu-cont{
		transition: all 0.5s;
	}

	.edu-cont:hover{
		background: #4a4949;
		color: #fff;
	}

	#contect{
		background: #4a4949;
		margin-top: 20vh;
		padding: 20px;
	}

	.a-aside{
		display: flex;
		justify-content: center;
		margin: 10px 0px 30px;
	}

	.a-picture{
		margin: 0px 20px;
		width: 100px;
		border-radius: 50%;
	}

	.b-aside{
		padding: 30px;
	}
}