@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;700&display=swap');

* {
   margin: 0px;
   padding: 0px;
   font-family: 'Poppins', 'sans-serif';
   scroll-behavior: smooth;
 }

 body{
   width: 100%;
   background: #e5e5e5;
 }

 header {
  position: sticky;
  top: 0px;
  width: 100%;
 }

 nav {
   background: linear-gradient(to left, rgb(0, 72, 79) 0%, rgb(0, 27, 39) 100%);
   height: 60px;
   display: flex;
 }

 .brand {
   margin: 0px 6em 0px 5%;
 }

 .logo {
   border-radius: 50%;
   width: 35px;
   height: 35px;
   margin-right: 7%;
 }

 .icon-menu{
   display: none;
 }

 .nav-item {
   color: #fff;
   margin: auto 5px;
   padding: 0px 10px;
 }

 .nav-item:hover {
   transition: 0.5s;
   color: #00cdff;
 }

 .active {
   transition: 1s;
   color: #00cdff;
 }

 #head{
   background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9) 0%, rgb(0, 0, 0, 0.9) 100%), url(../assets/sampul.jpg) no-repeat center;
   background-attachment: fixed;
   background-size: cover;
   padding: 8.5vh 0px;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .picture {
   width: 200px;
   height: 200px;
   border-radius: 50%;
   display: block;
   margin: auto;
   padding: 30px;
 }

 .hi {
   color: #fff;
   font-size: 3em;
   text-align: center;
 }

 .icon {
   display: flex;
   width: 100%;
   justify-content: center;
   margin: 2em 0px 1em;
 }

 .link{
  justify-content: center;  
 }

 .but {
   border: 2px solid #569dff;
   border-radius: 10px;
   padding: 10px 30px;
   margin: 0px 10px;
   color: #00cdff;
 }

 .but:hover {
   transition: 0.5s;
   background: #b4d2ffa6;
   color: #d1f6ff;
 }

 #profile {
   box-shadow: 0px 1px 10px 0.2rem rgba(0, 71, 78, 0.25);
   display: flex;
 }

 .welcome {
   padding: 30px;
   margin-left: 60px;
   flex: 1;
 }

 .info {
   padding: 30px;
   flex: 1;
 }

 th, td {
   padding: 10px;
 }

 #skills {
   box-shadow: 0px 1px 10px 0.2rem rgba(0, 71, 78, 0.25);
   width: 80%;
   margin: 8em auto;
   display: flex;
   justify-content: center;

 }

 .skill {
   padding: 30px;
   flex: 1;
 }

 .nub {
   font-size: 12px;
   color: #0064b4;
 }

 progress {
   width: 100%;
   height: 10px;
   border-radius: 5px;
   overflow: hidden;
   margin: 10px auto 10px;
   text-align: center;
 }

 .background {
   background-image: url(../assets/skill.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   border: none;
   flex: 1;
 }

 #education {
   box-shadow: 0px 1px 10px 0.2rem rgba(0, 71, 78, 0.25);
   display: block;
   width: 80%;
   margin: 8em auto;
 }

  .container{
    display: flex;
    transition: all 0.5s;
    color: #000;
  }

  .container:hover{
    background: #4a4949;
    color: #fff;
  }

  .content{
    flex: 0.9;
    padding: 2em 2em;
  }

  .icon-edu {
    background: #4a4949;
    font-size: 3em;
    border-radius: 50%;
    padding: 0.4em 0px;
  }

  .caption{
    flex: 6;
    padding: 2em 2em;
  }

  #contact{
    background-color: #4a4949;
    padding: 5em;
    display: flex;
  }

  .address{
    flex: 1;
  }

  .a-picture {
    width: 100px;
    border-radius: 50%;
  }
  
  .contact{
    margin: 4em 0px;
  }

  .map{
    flex: 3;
  }

  .icon-contact{
    font-size: 2em;
    padding: 5px 15px;
    margin: 1em 10px;
    border-radius: 50%;
    border: 1px #fff solid;
  }

  .icon-contact:hover{
    background-color: #0064b4;
    transition: .3s;
    border: 1px #0064b4 solid;
  }

  iframe{
    width: 100%;
    height: 50vh;
  }

  .d-flex{
    display: flex;
  }

  .my-1{
    margin: 1em 0px;
  }

  footer {
    display: block;
    height: 50px;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.9) 0%, rgb(0, 0, 0, 0.9) 100%);
    line-height: 49px;
  }

/* mobile version */

@media (min-width: 360px) and (max-width: 988px) {

  .title{
    text-align: center;
  }

  .icon-menu{
    position: absolute;
    display: block;
    right: 10vw;
  }

  .menu{
    background-color: #fff;
    width: 100vw;
    position: fixed;
    bottom: 0px;
    height: 0px;
    transition: .3s;
  }
  
  .show-menu{
    height: 17em;
    transition: .3s;
    z-index: 2;
  }

  .menu::before{
    content: 'Menu';
    background-color: #0064b4;
    display: block;
    padding: 1em;
    margin-bottom: 1em;
    color: #fff;
    font-weight: bold;
  }

  .nav-item{
    display: block;
    color: #000;
    margin: 1.5em 3em;
  }

  #head{
    height: 91vh;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .picture{
    width: 150px;
    height: 150px;
    padding: 0px;
  }

  .hi{
    font-size: 2em;
  }

  .icon{
    margin: 3em 0px 1em;
  }

  .but{
    font-size: 1em;
    padding: 5px 15px;
    border-radius: 6px;
  }

  #profile {
    box-shadow: 0px 1px 10px 0.2rem rgba(0, 71, 78, 0.25);
    display: block;
  }

  .welcome {
    padding: 30px 2em 4em;
    margin: 0px;
    text-align: center;
  }

  .info {
    display: none;
  }

  #skills {
    width: 90%;
  }

  .background {
    display: none;
  }

  #education {
    width: 90%;
  }
   
  .container {
    display: block;
    padding: 3em 0px;
  }

  .content {
    padding: 0px 2em;
  }

  .icon-edu {
    border-radius: 0px;
  }

  .caption {
    padding: 1em 2em;
  }

  #contact {
    display: block;
    padding: 5em 2em;
  }

  .a-picture {
    width: 85px;
    border-radius: 50%;
  }

  .my-add{
    flex: 1;
    margin-right: 10vw; 
  }

  .contact {
    margin: 0px;
    flex: 1;
  }

  .icon-contact {
    font-size: 1em;
    padding: 5px 10px;
  }

  .d-flex {
    display: flex;
  }

  .my-1 {
    margin: 1em 0px;
  }

  .md{
    display: flex;
  }
}

 /* utilitis */

 .disabled{
   z-index: -1;
 }

 .up {
   background-color: rgba(0, 0, 0, 0.3);
   border-radius: 5px;
   position: fixed;
   width: 40px;
   height: 40px;
   bottom: 50px;
   right: 30px;
   transition: 1s;
   display: flex;
   justify-content: center;
   align-items: center;
   text-decoration: none;
   color: #fff;
 }

 .loading {
   background: #222;
   position: fixed;
   left: 0px;
   right: 0px;
   top: 0px;
   bottom: 0px;
   z-index: 1;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .spin {
   width: 300px;
   height: 300px;
   animation: spin 1.5s infinite;
 }

 @keyframes spin {
   0% {
     width: 100px;
     height: 100px;
     rotate: 0deg;
     border-radius: 50%;
     border-top: 5px solid red;
     border-right: 5px solid green;
     border-bottom: 5px solid yellow;
     border-left: 5px solid blue;
   }

   25% {
     width: 150px;
     height: 150px;
     rotate: 75deg;
     border-radius: 50%;
     border-left: 5px solid red;
     border-top: 5px solid green;
     border-right: 5px solid yellow;
     border-bottom: 5px solid blue;
   }

   50% {
     width: 150px;
     height: 150px;
     rotate: 150deg;
     border-radius: 50%;
     border-bottom: 5px solid red;
     border-left: 5px solid green;
     border-top: 5px solid yellow;
     border-right: 5px solid blue;
   }

   75% {
     width: 150px;
     height: 150px;
     rotate: 225deg;
     border-radius: 50%;
     border-right: 5px solid red;
     border-bottom: 5px solid green;
     border-left: 5px solid yellow;
     border-top: 5px solid blue;
   }

   100% {
     width: 100px;
     height: 100px;
     rotate: 360deg;
     border-radius: 50%;
     border-top: 5px solid red;
     border-right: 5px solid green;
     border-bottom: 5px solid yellow;
     border-left: 5px solid blue;
   }
 }

.title {
  font-weight: 200;
  margin: 35px auto 20px;
}

.center-text {
  text-align: center;
}

.d-flex {
  display: flex;
}

.item-center {
  align-items: center;
}

.text-white {
  color: white;
}

.clear-link {
  text-decoration-line: none;
}