@media (max-width: 767.98px) {
  .contents-wrapper {
    left: 88px;
    width: calc(100% - 88px);
  }
  .card-task {
    justify-content: center;
  }
}

@media (max-width: 550.98px) {
  .main-content img,
  .main-content .bob {
    display: none;
  }
  .main-content .col h1 {
    font-size: 38px;
  }
  .main-content .col a {
    margin: 0 5px;
  }
  .card-task {
    justify-content: center;
  }
  .my-task .task-title {
    font-size: 28px;
  }
}
